* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.mainDiv {
  background-color: rgb(155, 154, 154);
  height: auto;
}
.box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 20px;
}
.box1 {
  background-color: #15aad7;
  border: solid 3px #0f7391;
  padding: 100px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.box2 {
  background-color: #15aad7;
  border: solid 3px #0f7391;
  padding: 100px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#budget,
#totalAmount,
#category,
#date,
#description {
  height: 30px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  border-style: solid;
  padding-left: 10px;
}
#btn {
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 10px 10px 10px 10px;
  border-style: none;
  font-weight: bold;
}
.box3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: rgb(5, 183, 243);
  border: solid 3px #0f7391;
  width: 80%;
  margin-left: 10%;
  height: 100px;
  border-radius: 50px;
  align-items: center;
}
#totalBudget,
#expences,
#balance {
  text-align: center;
}
.box8 {
  background-color: #15aad7;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: solid 3px #0f7391;
  width: 50%;
  margin-top: 20px;
  margin-left: 25%;
  word-wrap: break-word;
}
#items,
#details {
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #727272;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 20px 20px 20px 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#btn:hover {
  background-color: rgb(186, 128, 240);
  transition: 0.5s;
}
#heading {
  text-decoration: underline;
  color: black;
  text-align: center;
  font-size: 50px;
}
#heading1 {
  font-size: 36px;
}
.box7 {
  display: flex;
  justify-content: space-between;
  background-color: #15aad7;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: solid 3px #0f7391;
  width: 70%;
  margin-top: 20px;
  margin-left: 15%;
}
span {
  color: white;
}
#heading2 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}
#span1 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
